process {
    withName: 'NFCORE_DETAXIZER:RENAME_FASTQ_HEADERS_PRE' {
        memory = '14 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:FASTQC' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:KRAKEN2PREPARATION' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:KRAKEN2_KRAKEN2' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:TAXA_REPORT' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:PARSE_KRAKEN2REPORT' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:ISOLATE_KRAKEN2_IDS' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:MERGE_IDS' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:SUMMARY_CLASSIFICATION' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:SUMMARIZER' {
        memory = '16 GB'
        cpus = 4
    }
    withName: 'NFCORE_DETAXIZER:MULTIQC' {
        memory = '16 GB'
        cpus = 4
    }
}
